PORT=3000
TOLOKA_USERNAME=your_toloka_username
TOLOKA_PASSWORD=your_toloka_password
TRANS_URL=http://localhost:9091/transmission/rpc
TRANS_USERNAME=your_transmission_username
TRANS_PASSWORD=your_transmission_password
OMDB_API_KEY=your_omdb_api_key
# Optional alias if you prefer this name:
# IMDB_API_KEY=your_omdb_api_key
# Optional custom OMDb-compatible endpoint:
# OMDB_BASE_URL=https://www.omdbapi.com/
PLEX_URL=http://localhost:32400
PLEX_TOKEN=your_plex_token
