PORT=3000
TOLOKA_USERNAME=your_toloka_username
TOLOKA_PASSWORD=your_toloka_password
TRANS_URL=http://localhost:9091/transmission/rpc
TRANS_USERNAME=your_transmission_username
TRANS_PASSWORD=your_transmission_password
